.header {
  width: 100%;
  background-color: gray;
}

.nav {
  width: 100%;
  background-color: aquamarine;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    height: 50px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
/* FLEXBOX */
.flex_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.flex_block {
  height: 100px;
  background-color: #d0ecc3;
  border: 1px solid black;
}
.item {
  flex: 2 2 300px;
  background-color: aqua;
}
.item2 {
  flex: 1 1 400px;
  order: 1;
  background-color: red;
}
/*  */
.article {
  h1 {
    font-family: "Black Ops One", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin: 0;
  }
}

.article_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 3px black solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px goldenrod;
  position: relative;
}
.image_hourse {
  width: 200px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 5px cornflowerblue;
  background-image: url("hourse.jpg");
  background-color: antiquewhite;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.figure {
  p {
    width: 300px;
    border: 1px red solid;
    font-size: 14px;
    text-align: center;
  }
  img {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
  }
}

.pos {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #d18e8e;
  border: 3px solid black;
  font-size: 50px;
}
/* ПСЕВДОКЛАССЫ */
.psevdo {
  display: flex;
  justify-content: center;
  text-align: center;
  table {
    width: 500px;
    border: 1px solid black;
    thead {
      background-color: antiquewhite;
    }
    tbody {
      background-color: gainsboro;
      td:hover {
        color: red;
      }
      td:active {
        transform: scale(1.2);
      }
    }
    tfoot {
      background-color: #d0ecc3;
    }
  }
}
